img{
    width:350px;
    height:auto;
    border-radius: 10px;
}

.generale{
    background-color: #1E1F22;
    border-radius: 10px;
    border:5px solid black;
    margin:10px;

}
body{

}
.info{
    display:flex;
    flex-direction: row;


}