.modify-form {
    width:25%;
    background-color: #9de4cb;
    border-radius: 0.5rem;
    padding: 5rem;
    margin: 2rem auto;
}

.modify-form input,
.modify-form select,
.modify-form textarea {
    width:95%;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 0.5rem;
    margin: 0.25rem auto;
    font-size:1.3em;
}

.modify-form input:disabled,
.modify-form select:disabled,
.modify-form textarea:disabled {
    width:95%;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 0.5rem;
    margin: 0.25rem auto;
    font-size:1.3em;
}

.modify-label {
    color:black;
}
