#navbar-container .col-auto {
    border: 1px solid #b2f7ef;
    border-radius: 10px;
    background-color: #1E1F22;
}

#navbar-container .row {
    display: flex;
    gap: 10px;
}


#navbar-container a {
    color: #b2f7ef;
    text-decoration: none;
}


header .row {
    display: flex;
    align-items: center;
}
